/** >>>>>>>>>>>>>>>>>>>>>>>>>>> RESET <<<<<<<< */

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style-type: none;
    background-color: #e5e5e5; 
    color: #000000;
}

.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/** >>>>>>>>>>>>>>>>>>>>>>>>>>> HEADER <<<<<<<< */

.encabezado {
    background-color: #14213d; 
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.encabezado__logo {
    width: 135px; 
    margin-left: 59px; 
}

.encabezado__nav {
    margin-right: 20px; 
}

.encabezado__nav .fa-solid {
    font-size: 1.2rem;
}

.encabezado__nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.encabezado__nav li {
    margin: 0 10px;
}

.encabezado__nav-link {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.5s;
    font-size: 17px;
}

.foto-perfil {
    display: flex;
    align-items: center;
    margin-top: -5px;
}

.encabezado__nav-link:hover {
    background-color: #f9a310; 
}

.contenedor--migadepan {
    padding: 20px;
}

.lista--migadepan {
    display: flex; 
    align-items: center;
    padding: 20px 0;
    color: #666;
}

.lista--migadepan .item__lista {
    display: flex; 
    align-items: center; 
    padding: 0 10px;
    font-size: 25px;
}

.lista--migadepan .item__lista .fa-solid {
    font-size: 1.5rem; 
    margin-right: 5px; 
    color: #666;
}

.lista--migadepan .item__lista:last-child {
    font-size: 18px;
}

.item__separador{
    margin: 14px;
    color: #666;
}

.menu-btn {
    display: none;
}

.menu-btn:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

.menu-btn i {
    font-size: 24px; 
    color: #ffffff; 
}

.img__perfil {
    margin-right: 10px;
}

/** >>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER <<<<<<<< */

.pie {
    background-color: #14213d;
    color: #ffffff; 
    padding: 20px 0;
    text-align: center;
}

.pie__logo {
    margin-bottom: 20px;
}

.pie__logo-imagen {
    width: 159px; 
}

.pie__titulo {
    margin-bottom: 10px;
}

.pie__descripcion {
    display: flex;
    justify-content: center;
    margin: 13px;
}

.pie__lista {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.pie__lista-item {
    margin: 0 10px;
}

.pie__lista-enlace {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.pie__lista-enlace:hover {
    color: #f9a310; 
}

.pie__lista-texto {
    margin-left: 5px;
}

.pie__copy {
    margin-top: 20px;
    font-size: 0.8rem;
}

/** >>>>>>>>>>>>>>>>>>>>>>>>>>> MENU DESPLEGABLE <<<<<<<< */

@media (max-width: 1024px) {
    .encabezado {
        flex-direction: column;
        align-items: flex-start;
    }

    .encabezado__nav {
        margin-top: 10px;
    }

    .encabezado__logo {
        margin: 10px 0 0 20px;
    }
}

@media (max-width: 768px) {
    .menu-btn {
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #14213d;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s;
        z-index: 1100;
    }

    .menu-btn:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
    .encabezado__nav {
        display: none; 
        position: absolute;
        top: 60px; 
        left: 0;
        width: 100%;
        background-color: #14213d; 
        padding: 10px 0; 
        z-index: 1000;  
    }

.encabezado__nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.encabezado__nav li {
    margin: 0 10px;
}

.encabezado__nav-link {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.5s;
    font-size: 17px;
}



    .encabezado__nav.active {
        display: flex; 
        flex-direction: column; 
    }

    .encabezado__nav ul {
        padding: 0; 
        margin: 0;
    }

    .encabezado__nav li {
        margin: 10px 0; 
        text-align: center; 
    }

    .menu-btn {
        display: flex; 
        margin-left: 90%;
        margin-top: -50px;
        padding-right: 6px;
    }
}
