/* Imagen principal */
.imagen-principal {
    text-align: center;
    margin: 20px 0;
}

.imagen-principal__img {
    max-width: 100%;
    height: auto;
}

/*CONTENIDO*/
.contenido {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px;
    margin: 20px auto;
    max-width: 800px; /* Ancho máximo del contenido */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.contenido h2 {
    color: #14213d; /* Color de título */
    font-size: 24px;
    margin-bottom: 20px;
}

.documento {
    margin-bottom: 15px;
}

.documento a {
    display: block;
    padding: 15px;
    background-color: #f0f0f0; /* Color de fondo del enlace */
    color: #333333; /* Color del texto del enlace */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.documento a:hover {
    background-color: #14213d; /* Color de fondo en hover */
    color: #ffffff; /* Color del texto en hover */
}

.documento .icono {
    width: 20px; /* Tamaño del ícono */
    margin-right: 10px;
    vertical-align: middle;
}

.documento i.fa-solid {
    margin-right: 10px;
}

.icono__descargas{
   display: flex;
   justify-content: flex-end;
   margin-top: -61px;
}

@media (max-width: 480px) {
    .informacion__card {
        flex-basis: 100%; /* Una columna en pantallas más pequeñas */
    }
}

/* Media queries para tabletas y celulares */
@media (max-width: 768px) {
    
    .contenido {
        padding: 15px;
    }

    .documento a {
        padding: 10px;
    }
}
