/* Imagen principal */
.imagen-principal {
    text-align: center;
    margin: 20px 0;
}

.imagen-principal__img {
    max-width: 100%;
    height: auto;
}

.informacion {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px auto;
    background-color: #ffffff;
    width: 90%; 
    max-width: 1000px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 86px;
    border-radius: 6px;
}

.informacion__card {
    text-align: center;
    flex: 1 1 250px; 
    margin: 10px;
    padding: 20px;
    background-color: #ffffff; 
}

.informacion__card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.informacion__icono {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #f9a310; 
}

.informacion__numero {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #000000; 
}

.informacion__descripcion {
    font-size: 0.9rem;
    color: #666666; 
}

.caracteristicas {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 39px auto; 
    width: 92%;
}

.caracteristicas__item {
    text-align: center;
    margin: 13px;
    background-color: #ffffff; 
    padding: 51px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Añadido para el cambio de color */
    width: 31%;
}

.caracteristicas__item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    background-color: #14213d; 
    color: #ffffff; 
}

.caracteristicas__fondo {
    background-color: rgba(102, 102, 102, 0.1);
    width: 100%;
    padding: 33px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out; 
}

.caracteristicas__item:hover .caracteristicas__fondo {
    background-color: rgba(246, 200, 120, 0.1); 
}

.caracteristicas__imagenAnuncios {
     margin-bottom: 10px;
     width: 76%;
     height: auto; 
     border-radius: 8px;
}

.caracteristicas__titulo {
    margin: 10px 0;
    color: #000000; 
    transition: color 0.3s ease-in-out; 
}

.caracteristicas__descripcion {
    font-size: 0.9rem;
    color: #666666; 
    line-height: 32px;
    transition: color 0.3s ease-in-out; 
}


.caracteristicas__item:hover .caracteristicas__titulo,
.caracteristicas__item:hover .caracteristicas__descripcion {
    color: #ffffff; 
}

.caracteristicas__imagenAnuncios {
     margin-bottom: 10px;
     width: 76%;
     height: 50%;
     border-radius: 8px;
    
}

.caracteristicas__titulo {
    margin: 10px 0;
    color: #000000; 
}

.caracteristicas__descripcion {
    font-size: 0.9rem;
    color: #666666; 
    line-height: 32px;
}


.juntaAdministradora {
    background-color: #f4f4f4; 
    padding: 44px 20px; 
    border-radius: 8px;
    margin: 68px auto;
    max-width: 90%; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.juntaAdministradora__titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333; 
}

.juntaAdministradora__lista {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.junta__item {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    padding: 39px;
    text-align: center;
    flex: 1 1 calc(30% - 20px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.junta__item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.junta__icono {
    font-size: 3rem;
    color: #f9a310; 
    margin-bottom: 10px;
}

.junta__titulo {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #222; 
}

.junta__descripcion {
    font-size: 0.9rem;
    color: #666;
    line-height: 29px; 
}

/* Pie de página */
.pie {
    background-color: #14213d; 
    color: #ffffff; 
    padding: 20px 0;
    text-align: center;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .informacion {
        width: 80%; 
        display: flex; 
    }

    .informacion__card {
        flex-basis: 100%; 
        margin: 10px 0; 
    }

    .caracteristicas {
        flex-direction: column; 
        margin: 20px 10px; 
    }

    .caracteristicas__item {
        width: 100%; 
        margin: 10px 0; 
    }

    .juntaAdministradora {
        padding: 20px; 
        max-width: 90%; 
    }

    .junta__item {
        flex: 1 1 100%; 
        max-width: none; 
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .caracteristicas__item {
        width: calc(45% - 20px); 
    }

    .junta__item {
        flex: 1 1 calc(45% - 20px); 
    }
}
