/* Imagen principal */
.imagen-principal {
    text-align: center;
    margin: 20px 0;
}

.imagen-principal__img {
    max-width: 100%;
    height: auto;
}

.informacion {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px auto;
    background-color: #ffffff;
    width: 90%; 
    max-width: 1000px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 86px;
    border-radius: 6px;
}

.informacion__card {
    text-align: center;
    flex: 1 1 250px; 
    margin: 10px;
    padding: 20px;
    background-color: #ffffff; 
}

.informacion__card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.informacion__icono {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #f9a310; 
}

.informacion__numero {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #000000; 
}

.informacion__descripcion {
    font-size: 0.9rem;
    color: #666666; 
}

.caracteristicas__anunciosTotales{
    display: flex;
    justify-content: center;
    padding-top: 58px;
}
.caracteristicas__anuncio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    overflow: hidden;
    width: 107%; 
}

.caracteristicas__imagenAnuncios {
    background-size: cover;
    background-position: center;
    width: 418px; /* Ancho fijo para contenedor cuadrado */
    height: 377px; /* Altura fija para contenedor cuadrado */
    position: relative;
    transition: transform 0.3s ease;
}

.caracteristicas__anuncio:hover .caracteristicas__imagenAnuncios {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

.caracteristicas__texto {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    padding: 20px;
    text-align: center;
    transition: opacity 0.3s ease;
    width: 67%;
}

.caracteristicas__anuncio:hover .caracteristicas__texto {
    opacity: 0.9; /* Efecto de opacidad al pasar el ratón */
}

.caracteristicas__titulo {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}

.caracteristicas__descripcion {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
}


.juntaAdministradora {
    background-color: #f4f4f4; 
    padding: 44px 20px; 
    border-radius: 8px;
    margin: 68px auto;
    max-width: 90%; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.juntaAdministradora__titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333; 
}

.juntaAdministradora__lista {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.junta__item {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    padding: 39px;
    text-align: center;
    flex: 1 1 calc(30% - 20px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.junta__item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.junta__icono {
    font-size: 3rem;
    color: #f9a310; 
    margin-bottom: 10px;
}

.junta__titulo {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #222; 
}

.junta__descripcion {
    font-size: 0.9rem;
    color: #666;
    line-height: 29px; 
}

/* Pie de página */
.pie {
    background-color: #14213d; 
    color: #ffffff; 
    padding: 20px 0;
    text-align: center;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .informacion {
        width: 80%; 
        display: flex; 
    }

    .informacion__card {
        flex-basis: 100%; 
        margin: 10px 0; 
    }

    .caracteristicas {
        flex-direction: column; 
        margin: 20px 10px; 
    }

    .caracteristicas__item {
        width: 100%; 
        margin: 10px 0; 
    }

    .juntaAdministradora {
        padding: 20px; 
        max-width: 90%; 
    }

    .junta__item {
        flex: 1 1 100%; 
        max-width: none; 
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .caracteristicas__item {
        width: calc(45% - 20px); 
    }

    .junta__item {
        flex: 1 1 calc(45% - 20px); 
    }
}
