/* Imagen principal */
.imagen-principal {
    text-align: center;
    margin: 20px 0;
}

.imagen-principal__img {
    max-width: 100%;
    height: auto;
}

/* Estilos para la sección de Información */
.informacion {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px auto;
    background-color: #ffffff;
    width: 63%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.informacion__card {
    text-align: center;
    flex: 1 1 250px; /* Flex-grow, flex-shrink, flex-basis */
    margin: 10px;
    padding: 20px;
    background-color: #ffffff; /* Color de fondo de los elementos */
}

.informacion__card:hover {
    transform: translateY(-5px); /* Efecto de levantamiento al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.informacion__icono {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #f9a310; /* Color del ícono */
}

.informacion__numero {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #000000; /* Color del número */
}

.informacion__descripcion {
    font-size: 0.9rem;
    color: #666666; /* Color de la descripción */
}

/* Estilos para la sección de Características */
.caracteristicas {
    display: flex;
    justify-content: space-evenly;
    margin: 27px 113px;
}

.caracteristicas__item {
    text-align: center;
    width: calc(37.33% - 82px);
    margin: 44px;
    background-color: #ffffff;
    padding: 54px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.caracteristicas__item:hover {
    transform: translateY(-5px); /* Efecto de levantamiento al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.caracteristicas__icono {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #f9a310; /* Color del icono */
}

.caracteristicas__titulo {
    margin: 10px 0;
    color: #000000; /* Color del texto del título */
}

.caracteristicas__descripcion {
    font-size: 0.9rem;
    color: #666666; /* Color del texto de descripción */
}

/* Pie de página */
.pie {
    background-color: #14213d; /* Color de fondo del pie */
    color: #ffffff; /* Color de texto en el pie */
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 480px) {
    .informacion {
        width: 100%; /* Ocupa todo el ancho disponible */
    }

    .informacion__card {
        flex-basis: 100%; /* Una columna en pantallas más pequeñas */
        margin: 10px 0; /* Reducir el margen vertical */
    }

    .caracteristicas {
        flex-wrap: wrap; /* Acomodar los items en varias líneas */
        margin: 20px 10px; /* Reducir el margen lateral */
    }

    .caracteristicas__item {
        width: 100%; /* Ocupa todo el ancho disponible */
        margin: 20px 0; /* Espaciado entre items */
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .informacion__card {
        flex-basis: calc(50% - 20px); /* Dos columnas, con espacio entre ellas */
        margin: 10px; /* Espaciado entre las columnas */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .caracteristicas__item {
        width: calc(50% - 20px); /* Dos columnas, con espacio entre ellas */
    }
}
