/* Formulario */
/* Estilos para el formulario */

.formulario {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    position: relative; 
}

.formulario__icono {
    position: relative;
    top: -31px; 
    left: 49%; 
    transform: translateX(-50%); 
    font-size: 7.5rem; 
    color: #14213d; 
    background-color: #ffffff;
    padding: 20px; 
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}


.formulario__contenido {
    flex: 1;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 38px;
}

.formulario__form {
    background-color: #ffffff;
    padding: 61px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 37%;
    position: relative; 
    z-index: 1; 
}

.formulario__titulo {
    font-size: 35px;
    margin-bottom: 4px;
    color: #14213d;
    text-align: center;
}

.formulario__grupo {
    margin-bottom: 15px;
}

.formulario__label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.formulario__boton {
    background-color: #f9a310;
    color: #ffffff;
    border: none;
    padding: 11px 57px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 23px;
    margin-left: 62px;
}

.formulario__input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.recuerdame {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 18px;
}

.recuerdame label {
    font-size: 14px;
    margin-left: 5px;
}

.recuerdame input[type="checkbox"] {
    transform: scale(1.5); 
    margin-right: 10px;
}

.link-login {
    margin-top: 20px; 
    text-align: center; 
}

.link-login a {
    color: #f9a310; 
    text-decoration: none;
    transition: color 0.3s;
}

.link-login a:hover {
    color: #e08910; 
}


.error-container {
    display: flex;
    align-items: center;
    color: #9D2A11; 
    margin-top: 5px;
}

.error-container i {
    margin-right: 8px; 
    color: #9D2A11; 
}


.text-danger {
    color: #9D2A11;
}

.is-invalid {
    border: 2px solid #9D2A11;
  }

.is-invalid {
    border: 2px solid #9D2A11;
  }

.recuerdame_check{
    border: solid red 1px;
}


@media (max-width: 768px) {
    .formulario {
        flex-direction: column;
        align-items: center;
    }

    .formulario__boton {
        margin-left: 199px;
    }
}


@media (max-width: 480px) {
    .formulario__boton {
        width: 70%;
        margin-left: 35px;
    }
}

@media (max-width: 1024px) {
    .formulario {
        flex-direction: column;
        align-items: center;
    }

    .formulario__contenido {
        width: 100%;
        margin-bottom: 20px;
    }

    .formulario__form {
        width: 100%;
    }
}

