/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5; /* Color de fondo */
    color: #000000; /* Color de texto principal */
}

/* Encabezado */
.encabezado {
    background-color: #14213d; /* Color de fondo del encabezado */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.encabezado__logo {
    width: 135px; /* Ajusta el tamaño del logo según necesidad */
    margin-left: 59px; /* Espacio del margen izquierdo */
}

.encabezado__nav {
    margin-right: 20px; /* Espacio del margen derecho */
}

.encabezado__nav .fa-solid{
    font-size: 1.2rem;
}

.encabezado__nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.encabezado__nav li {
    margin: 0 10px;
}

.encabezado__nav-link {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.5s;
    font-size: 17px;
}

.encabezado__nav-link:hover {
    background-color: #f9a310; /* Color de fondo en hover */
}

.fa-solid {
    font-size: 3.2rem; /* Tamaño de íconos */
    margin-left: 5px;
}

/*CONTENIDO*/
/* Formulario */
/* Estilos para el formulario */

.formulario {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    position: relative; /* Añadido para facilitar el posicionamiento absoluto del ícono */
}

.formulario__icono {
    position: relative;
    top: -31px; /* Ajustar la posición vertical del ícono */
    left: 49%; /* Centrar horizontalmente el ícono */
    transform: translateX(-50%); /* Ajustar la posición horizontal */
    font-size: 7.5rem; /* Tamaño del ícono */
    color: #14213d; /* Color del ícono */
    background-color: #ffffff; /* Color de fondo del contenedor del ícono */
    padding: 20px; /* Espacio interno del contenedor del ícono */
    border-radius: 50%; /* Forma redondeada */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos adicionales para el formulario */

.formulario__contenido {
    flex: 1;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 38px;
}

.formulario__form {
    background-color: #ffffff;
    padding: 61px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 37%;
    position: relative; /* Añadido para contener el ícono de usuario */
    z-index: 1; /* Asegurar que el formulario esté sobre el ícono */
}

.formulario__titulo {
    font-size: 35px;
    margin-bottom: 4px;
    color: #14213d;
    text-align: center;
}

.formulario__grupo {
    margin-bottom: 15px;
}

.formulario__label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.formulario__boton {
    background-color: #f9a310;
    color: #ffffff;
    border: none;
    padding: 11px 57px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 23px;
    margin-left: 142px;
}

.formulario__input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.recuerdame {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 18px;
}

.recuerdame label {
    font-size: 14px;
    margin-left: 5px;
}

.recuerdame input[type="checkbox"] {
    transform: scale(1.5); /* Aumenta el tamaño del checkbox */
    margin-right: 10px;
}

.link-login {
    margin-top: 20px; /* Añadir espacio superior */
    text-align: center; /* Centrar el texto */
}

.link-login a {
    color: #f9a310; /* Color del enlace */
    text-decoration: none;
    transition: color 0.3s;
}

.link-login a:hover {
    color: #e08910; /* Color del enlace en hover */
}

/* Pie de página */
.pie {
    background-color: #14213d; /* Color de fondo del pie */
    color: #ffffff; /* Color de texto en el pie */
    padding: 20px 0;
    text-align: center;
}

/* Logo en el pie de página */
.pie__logo {
    margin-bottom: 20px;
}

.pie__logo-imagen {
    width: 159px; /* Tamaño del logo ajustado */
}

.pie__titulo {
    margin-bottom: 10px;
}

.pie__descripcion{
    display: flex;
    justify-content: center;
    margin: 13px;
}

.pie__lista {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.pie__lista-item {
    margin: 0 10px;
}

.pie__lista-enlace {
    text-decoration: none;
    color: #ffffff; /* Color del texto enlaces */
    display: flex;
    align-items: center;
}

.pie__lista-enlace:hover {
    color: #f9a310; /* Color del texto en hover */
}

.pie__lista-texto {
    margin-left: 5px;
}

.pie__copy {
    margin-top: 20px;
    font-size: 0.8rem;
}

@media (max-width: 480px) {
    .formulario__boton {
        width: 100%;
    }
}

/* Media queries para tabletas y celulares */
@media (max-width: 768px) {
    .encabezado {
        flex-direction: column;
        align-items: flex-start;
    }

    .encabezado__nav {
        margin-top: 10px;
    }

    .encabezado__logo {
        margin: 10px 0 0 20px;
    }

    .formulario {
        flex-direction: column;
        align-items: center;
    }

    .pie__logo-imagen {
        width: 60px; /* Reducir tamaño del logo en dispositivos móviles */
    }

    .pie__lista {
        flex-wrap: wrap; /* Envolver elementos en varias líneas */
    }

    .pie__lista-item {
        margin: 5px 10px; /* Ajustar margen de los elementos de la lista */
    }
}

@media (max-width: 1024px) {
    .formulario {
        flex-direction: column;
        align-items: center;
    }

    .formulario__contenido {
        width: 100%;
        margin-bottom: 20px;
    }

    .formulario__form {
        width: 100%;
    }
}

