/* Imagen principal */
.imagen-principal {
    text-align: center;
    margin: 20px 0;
}

.imagen-principal__img {
    height: 543px;
    width: 100%;
    margin-top: -21px;
}

/* Contenido */
/* Novedades */

.titulo__novedades{
    font-size: 34px;
    text-align: center;
}

.novedades {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 20px; 
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    margin-bottom: 80px;
    width: 60%;
}

.novedades__item {
    display: flex;
    flex-direction: column; 
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    width: 94%;
}

.novedades__item-imagen {
    width: 95%;
    border-radius: 8px;
    margin-bottom: 10px; 
    margin-left: 11px;
}

.novedades__item-titulo {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.novedades__item-texto {
    font-size: 0.9rem;
}

/* Media queries */

@media (max-width: 768px) {
    
    .novedades {
        grid-template-columns: 1fr; 
        width: 68%;
    }
    .novedades__item {
        width: 100%;
    }
    
}

@media (max-width: 480px) {
    
    .novedades {
        grid-template-columns: 1fr; 
        width: 92%;
    }
    
    .novedades__item {
        width: 100%;
    }
    
}
