/* Imagen principal */
.imagen-principal {
    text-align: center;
    margin: 20px 0;
}

.imagen-principal__img {
    max-width: 100%;
    height: auto;
}

/* Contenido */

.titulo-seccion{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 38px;
    padding-bottom: 27px;
}

.contenedor-servicios {
    display: flex;
    flex-wrap: wrap; /* Permitir que las tarjetas se envuelvan en pantallas pequeñas */
    gap: 28px;
    width: 54%;
    margin-left: 23%;
    margin-bottom: 59px;
    justify-content: center;
    overflow-x: auto; /* Para scroll horizontal en pantallas pequeñas */
}

.servicio {
    flex: 0 0 calc(50% - 20px); /* Tarjetas ocupan el 50% del contenedor menos el espacio entre ellas */
    background-color: #e5e5e5;
    border-radius: 8px;
    overflow: hidden; /* Ocultamos el overflow para el efecto hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px; /* Espacio entre tarjetas */
}

.servicio:hover {
    transform: translateY(-5px); /* Efecto de levantamiento en hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contenido {
    padding: 100px;
    background-color: #ffffff;
    color: #000000;
}

.contenido i {
    font-size: 69px;
    color: #f9a310;
    margin-bottom: 10px;
}

.contenido h2.titulo {
    font-size: 24px;
    margin-bottom: 10px;
}

.contenido p.descripcion {
    font-size: 16px;
}

/* Media queries */

@media (max-width: 768px) {
    .servicio {
        flex: 0 0 calc(50% - 20px); /* Dos tarjetas por fila en dispositivos móviles */
    }
}

@media (max-width: 480px) {
    .servicio {
        flex: 0 0 100%; /* Una tarjeta por fila en pantallas muy pequeñas */
    }
}
