/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5; /* Color de fondo */
    color: #000000; /* Color de texto principal */
}

/* Encabezado */
.encabezado {
    background-color: #14213d; /* Color de fondo del encabezado */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.encabezado__logo {
    width: 135px; /* Ajusta el tamaño del logo según necesidad */
    margin-left: 59px; /* Espacio del margen izquierdo */
}

.encabezado__nav {
    margin-right: 20px; /* Espacio del margen derecho */
}

.encabezado__nav .fa-solid{
    font-size: 1.2rem;
}

.encabezado__nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.encabezado__nav li {
    margin: 0 10px;
}

.encabezado__nav-link {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.5s;
    font-size: 17px;
}

.encabezado__nav-link:hover {
    background-color: #f9a310; /* Color de fondo en hover */
}

.fa-solid {
    font-size: 3.2rem; /* Tamaño de íconos */
    margin-left: 5px;
}

/*CONTENIDO*/
/* Estilos para la sección de Ubicación */
.ubicacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
}

.ubicacion__mapa {
    flex: 1;
    margin-right: 20px;
    text-align: center;
}

.ubicacion__info {
    flex: 1;
    margin-right: 50px;
}

.ubicacion__titulo {
    font-size: 2rem;
    margin-bottom: 20px;
}

.ubicacion__descripcion {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.ubicacion__contacto {
    list-style-type: none;
    padding: 0;
}

.ubicacion__contacto li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.ubicacion__contacto li i {
    margin-right: 10px;
    font-size: 1.2rem;
}
/* Pie de página */
.pie {
    background-color: #14213d; /* Color de fondo del pie */
    color: #ffffff; /* Color de texto en el pie */
    padding: 20px 0;
    text-align: center;
}

/* Logo en el pie de página */
.pie__logo {
    margin-bottom: 20px;
}

.pie__logo-imagen {
    width: 159px; /* Tamaño del logo ajustado */
}

.pie__titulo {
    margin-bottom: 10px;
}

.pie__descripcion{
    display: flex;
    justify-content: center;
    margin: 13px;
}

.pie__lista {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.pie__lista-item {
    margin: 0 10px;
}

.pie__lista-enlace {
    text-decoration: none;
    color: #ffffff; /* Color del texto enlaces */
    display: flex;
    align-items: center;
}

.pie__lista-enlace:hover {
    color: #f9a310; /* Color del texto en hover */
}

.pie__lista-texto {
    margin-left: 5px;
}

.pie__copy {
    margin-top: 20px;
    font-size: 0.8rem;
}


/* Media queries para tabletas y celulares */
@media (max-width: 768px) {
    .encabezado {
        flex-direction: column;
        align-items: flex-start;
    }

    .encabezado__nav {
        margin-top: 10px;
    }

    .encabezado__logo {
        margin: 10px 0 0 20px;
    }

    .ubicacion {
        flex-direction: column;
        text-align: center;
    }

    .ubicacion__mapa,
    .ubicacion__info {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .pie__logo-imagen {
        width: 60px; /* Reducir tamaño del logo en dispositivos móviles */
    }

    .pie__lista {
        flex-wrap: wrap; /* Envolver elementos en varias líneas */
    }

    .pie__lista-item {
        margin: 5px 10px; /* Ajustar margen de los elementos de la lista */
    }
}


