/*CONTENIDO*/
/* Estilos para la sección de Ubicación */
.ubicacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
}

.ubicacion__mapa {
    flex: 1;
    margin-right: 20px;
    text-align: center;
}

.ubicacion__info {
    flex: 1;
    margin-right: 50px;
}

.ubicacion__titulo {
    font-size: 2rem;
    margin-bottom: 20px;
}

.ubicacion__descripcion {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.ubicacion__contacto {
    list-style-type: none;
    padding: 0;
}

.ubicacion__contacto li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.ubicacion__contacto li i {
    margin-right: 10px;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    
    .ubicacion {
        flex-direction: column;
        text-align: center;
    }
 
    .ubicacion__mapa,
    .ubicacion__info {
        margin-right: 0;
        margin-bottom: 30px;
    }
   
}


