<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/servicios.css"> 
    <title>Reserva de Batara</title>
</head>
<body>
    <header class="encabezado">
        <a href="/"><img src="img/logo.png" alt="logo" class="encabezado__logo"></a>
        <nav class="encabezado__nav">
            <ul>
                <li><a href="/" class="encabezado__nav-link">Inicio</a></li>
                <li><a href="servicios" class="encabezado__nav-link">Servicios</a></li>
                <li><a href="novedades" class="encabezado__nav-link">Novedades</a></li>
                <li><a href="documentos" class="encabezado__nav-link">Documentos</a></li>
                <li><a href="registro" class="encabezado__nav-link">Regístrate</a></li>
                <li><a href="login" class="encabezado__nav-link"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="ubicacion" class="encabezado__nav-link"><i class="fa-solid fa-location-dot"></i></a></li>
            </ul>
        </nav>
    </header>

    <section class="imagen-principal">
        <img src="img/imagenPrueba.jpg" alt="" class="imagen-principal__img">
    </section>

  <!--CONTENIDO-->
  <h3 class="titulo-seccion">Nuestros servicios</h3>
  <section class="contenedor-servicios">
    
    <article class="servicio">
        <div class="contenido">
            <i class="fa-solid fa-heart-pulse"></i>
            <h2 class="titulo"><strong>Gimnasio</strong></h2>
            <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis non incidunt laudantium, optio fuga, ipsam voluptates esse commodi corrupti molestiae dignissimos adipisci.</p>
        </div>
    </article>
    <article class="servicio">
        <div class="contenido">
            <i class="fa-solid fa-water"></i>
            <h2 class="titulo"><strong>Piscina</strong></h2>
            <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis non incidunt laudantium, optio fuga, ipsam voluptates esse commodi corrupti molestiae dignissimos adipisci.</p>
        </div>
    </article>
    <article class="servicio">
        <div class="contenido">
            <i class="fa-solid fa-futbol"></i>
            <h2 class="titulo"><strong>Parque infantil</strong></h2>
            <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis non incidunt laudantium, optio fuga, ipsam voluptates esse commodi corrupti molestiae dignissimos adipisci.</p> 
        </div>
    </article>
    <article class="servicio">
        <div class="contenido">
            <i class="fa-solid fa-users"></i>
            <h2 class="titulo"><strong>Salón Social</strong></h2>
            <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis non incidunt laudantium, optio fuga, ipsam voluptates esse commodi corrupti molestiae dignissimos adipisci.</p> 
        </div>
    </article>
</section>

    <footer class="pie">
        <div class="pie__contenido">
            <section class="pie__logo">
                <a href="#">
                    <img src="/img/logo.png" alt="logo reserva batara" class="pie__logo-imagen">
                </a>
            </section>
            <section class="pie__quienes-somos">
                <h4 class="pie__titulo">Quiénes somos</h4>
                <p class="pie__descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime perferendis dolor impedit culpa earum et eius, quibusdam id porro. Nobis veritatis aperiam optio nulla iure voluptate eveniet hic sint vitae.</p>
            </section>
            <section class="pie__redes-sociales">
                <ul class="pie__lista">
                    <li class="pie__lista-item">
                        <a class="pie__lista-enlace" href="https://www.instagram.com/">
                            <i class="fa-brands fa-instagram"></i>
                            <span class="pie__lista-texto">Instagram</span>
                        </a>
                    </li>
                    <li class="pie__lista-item">
                        <a class="pie__lista-enlace" href="https://github.com/DH-Comision-07/grupo_8_digitalBees/tree/main">
                            <i class="fa-brands fa-github"></i>
                            <span class="pie__lista-texto">Github</span>
                        </a>
                    </li>
                    <li class="pie__lista-item">
                        <a class="pie__lista-enlace" href="https://www.youtube.com/">
                            <i class="fa-brands fa-youtube"></i>
                            <span class="pie__lista-texto">Youtube</span>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <section class="pie__copy">
            <small>Copyright © 2024 reserva de Batara-PH</small>
        </section>
    </footer>
</body>
</html>
