<!DOCTYPE html>
<html lang="es">
<head>
   <!--head partial-->
   <%- include('./partials/head', {css:'/css/ubicacion.css'}); %>
   <!--fin partial-->
</head>
<body>
    <%- include('./partials/header'); %>
    <section class="principal__section section--migadepan">
        <div class="contenedor contenedor--migadepan">
           <%- include('./partials/migaDePan', {local: 'Ubicacion'}); %> 
        </div>
      </section>
    <section class="ubicacion">
        <div class="ubicacion__mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d582.8632378270331!2d-75.74698677287836!3d4.793937704300733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e387d464523cffb%3A0xc3699bd742bb67d3!2sReserva%20de%20Batar%C3%A1!5e0!3m2!1ses!2sco!4v1721836962482!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="ubicacion__info">
            <h2 class="ubicacion__titulo">Ubicación</h2>
            <p class="ubicacion__descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula dapibus quam at tristique. Aliquam non purus orci.</p>
            <ul class="ubicacion__contacto">
                <li><i class="fa-solid fa-map-marker-alt"></i> Dirección: Calle Principal #1234, Ciudad, País</li>
                <li><i class="fa-solid fa-phone"></i> Teléfono: +123 456 789</li>
                <li><i class="fa-solid fa-envelope"></i> Email: info@example.com</li>
            </ul>
        </div>
    </section>
    <%- include('./partials/footer'); %>
</body>
</html>
