<article class="caracteristicas__item">
    <i class="<%= anuncio.claseIcono %> caracteristicas__icono"></i>
    <h2 class="caracteristicas__titulo"><strong><%= anuncio.nombreServicio %></strong></h2>
    <p class="caracteristicas__descripcion"><%= anuncio.descripcion %></p>
</article>