<article class="caracteristicas__item">
    <img src="<%= anuncio.claseIcono %>" class="caracteristicas__imagenAnuncios"></i>
    <h2 class="caracteristicas__titulo"><strong><%= anuncio.nombreServicio %></strong></h2>
    <p class="caracteristicas__descripcion"><%= anuncio.descripcion %></p>
</article>