<div class="documento">
    <a href="<%= documento.descargaDocumento %>" download="Documento 1">
        <i class="fa-solid fa-file"></i>
        <p><%= documento.descripcion %></p>
        <i class="fa-solid fa-download icono__descargas"></i>
    </a>
</div>