<footer class="pie">
    <div class="pie__contenido">
        <section class="pie__logo">
            <a href="#">
                <img src="/img/logo.png" alt="logo reserva batara" class="pie__logo-imagen">
            </a>
        </section>
        <section class="pie__quienes-somos">
            <h4 class="pie__titulo">Quiénes somos</h4>
            <p class="pie__descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime perferendis dolor impedit culpa earum et eius, quibusdam id porro. Nobis veritatis aperiam optio nulla iure voluptate eveniet hic sint vitae.</p>
        </section>
        <section class="pie__redes-sociales">
            <ul class="pie__lista">
                <li class="pie__lista-item">
                    <a class="pie__lista-enlace" href="https://www.instagram.com/">
                        <i class="fa-brands fa-instagram"></i>
                        <span class="pie__lista-texto">Instagram</span>
                    </a>
                </li>
                <li class="pie__lista-item">
                    <a class="pie__lista-enlace" href="https://github.com/DH-Comision-07/grupo_8_digitalBees/tree/main">
                        <i class="fa-brands fa-github"></i>
                        <span class="pie__lista-texto">Github</span>
                    </a>
                </li>
                <li class="pie__lista-item">
                    <a class="pie__lista-enlace" href="https://www.youtube.com/">
                        <i class="fa-brands fa-youtube"></i>
                        <span class="pie__lista-texto">Youtube</span>
                    </a>
                </li>
            </ul>
        </section>
    </div>
    <section class="pie__copy">
        <small>Copyright © 2024 reserva de Batara-PH</small>
    </section>
</footer>