<body>
    <header class="encabezado">
        <a href="/"><img src="/img/logo.png" alt="logo" class="encabezado__logo"></a>
        <nav class="encabezado__nav">
            <ul>
                <li><a href="/" class="encabezado__nav-link">Inicio</a></li>
                <li><a href="/servicios" class="encabezado__nav-link">Servicios</a></li>
                <li><a href="/novedades" class="encabezado__nav-link">Novedades</a></li>
                <li><a href="/documentos" class="encabezado__nav-link">Documentos</a></li>
                <li><a href="/registro" class="encabezado__nav-link">Regístrate</a></li>
                <li><a href="/login" class="encabezado__nav-link"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="/ubicacion" class="encabezado__nav-link"><i class="fa-solid fa-location-dot"></i></a></li>
            </ul>
        </nav>
    </header>
</body>
