<article class="junta__item">
    <i class="<%= junta.claseIcono %> junta__icono"></i>
    <h3 class="junta__titulo"><strong><%= junta.nombreMiembro %></strong></h3>
    <p class="junta__descripcion"><%= junta.descripcion %></p>
</article>