<ol class="lista lista--migadepan">
    <li class="item__lista">
        <a href="/" class="item__enlace">
            <i class="fa-solid fa-house icono-casa"></i>
        </a>
    </li>
    <li class="item__lista">
        <span class="item__separador">|</span>
        <span class="item__actual"><%= local %></span>
    </li>
</ol>