<article class="novedades__item">
    <img src="/<%= novedad.imagen %>" alt="" class="novedades__item-imagen">
    <h3 class="novedades__item-titulo"><%= novedad.titulo %></h3>
    <p class="novedades__item-texto"><%= novedad.descripcion %></p>
</article>