<article class="servicio">
    <div class="contenido">
        <i class="<%= servicio.claseIcono %>"></i>
        <h2 class="titulo"><strong><%= servicio.nombreServicio %></strong></h2>
        <p class="descripcion"><%= servicio.descripcion %></p> 
    </div>
</article>