<!DOCTYPE html>
<html lang="es">
<head>
    <!--head partial-->
    <%- include('../partials/head', {css:'/css/creacionReservaAdmin.css'}); %>
    <!--fin partial-->
</head>
<body>
    <%- include('../partials/header'); %>
    <section class="principal__section section--migadepan">
      <div class="contenedor contenedor--migadepan">
         <%- include('../partials/migaDePan', {local: 'registro reservas'}); %> 
      </div>
    </section>

    <h2 class="formulario__titulo">Formulario de reserva Administrador</h2>
    <section class="formulario">
        <article class="formulario__contenido">
            <form action="/reservas/admin" method="POST" enctype="multipart/form-data" class="formulario__form">
                <!--<div class="formulario__grupo">
                    <label for="nombre" class="formulario__label">Nombre Completo:</label>
                    <input type="text" id="nombre" name="nombre" class="formulario__input" placeholder="nombre completo" required>
                </div>-->
                <div class="formulario__grupo">
                    <label for="fechaReserva" class="formulario__label">Fecha de reserva:
                        <div class="tooltip-container">
                            <input type="date" id="fechaReserva" name="fechaReserva" class="formulario__input reserva-inicial" placeholder="dd/mm/aaaa" required>
                            <div class="tooltip">La reserva se debe hacer 8 dias antes del evento</div>
                        </div>
                    </label>
                    <label for="fechaEvento" class="formulario__label">Fecha del Evento:
                    <input type="date" id="fechaEvento" name="fechaEvento" class="formulario__input" placeholder="dd/mm/aaaa" readonly>
                    </label>
                </div>
                <div class="formulario__grupo">
                    <label for="tipo_evento" class="formulario__label">Tipo de Evento:</label>
                    <select id="tipo_evento" name="tipo_evento" class="formulario__input" required>
                        <option value="">Seleccione un tipo</option>
                        <option value="educativo">Educativo</option>
                        <option value="laboral">Laboral</option>
                        <option value="didactico">Didáctico</option>
                        <option value="otro">Otro</option>
                    </select>
                </div>
                
                <div class="formulario__grupo">
                    <label for="asistentes" class="formulario__label">Cantidad de asistentes:
                    <input type="number" id="asistentes" name="asistentes" class="formulario__input" placeholder="1" required>
                    </label>
                </div>
                <div class="formulario__grupo">
                    <label for="hora_inicio" class="formulario__label">Hora de Inicio:</label>
                    <select id="hora_inicio" name="hora_inicio" class="formulario__input" required>
                        <option value="08:00">08:00 AM</option>
                        <option value="09:00">09:00 AM</option>
                        <option value="10:00">10:00 AM</option>
                        <option value="11:00">11:00 AM</option>
                        <option value="12:00">12:00 PM</option>
                        <option value="13:00">01:00 PM</option>
                        <option value="14:00">02:00 PM</option>
                        <option value="15:00">03:00 PM</option>
                        <option value="16:00">04:00 PM</option>
                        <option value="17:00">05:00 PM</option>
                        <option value="18:00">06:00 PM</option>
                        <option value="19:00">07:00 PM</option>
                        <option value="20:00">08:00 PM</option>
                        <option value="21:00">09:00 PM</option>
                        <option value="22:00">10:00 PM</option>
                    </select>
                </div>
                <div class="formulario__grupo">
                    <label for="hora_fin" class="formulario__label">Hora de Fin:</label>
                    <select id="hora_fin" name="hora_fin" class="formulario__input" required>
                        <option value="08:00">08:00 AM</option>
                        <option value="09:00">09:00 AM</option>
                        <option value="10:00">10:00 AM</option>
                        <option value="11:00">11:00 AM</option>
                        <option value="12:00">12:00 PM</option>
                        <option value="13:00">01:00 PM</option>
                        <option value="14:00">02:00 PM</option>
                        <option value="15:00">03:00 PM</option>
                        <option value="16:00">04:00 PM</option>
                        <option value="17:00">05:00 PM</option>
                        <option value="18:00">06:00 PM</option>
                        <option value="19:00">07:00 PM</option>
                        <option value="20:00">08:00 PM</option>
                        <option value="21:00">09:00 PM</option>
                        <option value="22:00">10:00 PM</option>
                    </select>
                </div>
                <div class="formulario__grupo">
                    <label for="cantidadHoras" class="formulario__label">Cantidad de horas:
                    <input type="number" id="cantidadHoras" name="cantidadHoras" class="formulario__input" placeholder="1" required>
                    </label>
                </div>
                <div class="formulario__grupo">
                    <label for="descripcion" class="formulario__label">Descripcion:
                    <input type="text" id="descripcion" name="descripcion" class="formulario__input" placeholder="descripcion" required>
                    </label>
                </div>
                <div class="formulario__grupo" id="disponibilidad">
                    <label for="disponibilidad" class="formulario__label">Disponibilidad:
                    <select id="disponibilidad" name="disponibilidad" class="formulario__input" required>
                        <option value="">Seleccione una opción</option>
                        <option value="confirmada">Confirmada</option>
                        <option value="pendiente">Pendiente</option>
                        <option value="cancelada">Cancelada</option>
                    </select>
                    </label>
                </div>
                <div class="formulario__grupo" id="fotoPago">
                    <label for="fotoPago" class="formulario__label">Foto Pago:</label>
                    <input type="file" id="fotoPago" name="fotoPago" class="formulario__input">
                </div>
                <button type="submit" class="formulario__boton">Crear Reserva</button>
            </form>
        </article>
        <article class="formulario__contenido">
            <img src="/img/reserva.png" alt="" class="formulario__imagen">
        </article>
    </section>
    <%- include('../partials/footer'); %>
   <script src="/js/registroAdminReservas.js"></script> 
</body>
</html>
